// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require reset.css





body {
  background: #e9e9eb;
	font-size: 0;
}

.outcome {
  display: none;
  width: 260px;
  height: 265px;
  margin: 30px auto;
  background-color: white;
  border-radius: 10px;
  // box-shadow: 0px 0px 1px 1px;
  p {
    font-family: "Gotham-Book";
    color: #0e6bbc !important;
    font-size: 15px;
    text-align: center;
  }
  img {
    margin-top: 0px !important;
  }
}
.table td,
.table th {
  background-color: #fff !important;
}
.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #000 !important;
}
.label {
  border: 1px solid #000;
}
.table {
  border-collapse: collapse !important;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.container{
	max-width: 2048px;
  width: 1380px;
  margin:0 auto;
  background-color: #fff;
  -moz-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
	text-align: center;
}


.unlock {
	background-color: #35D55C !important;
}

.winner_title {
	font-size: 20px;
  display: inline-block;
 	font-family: "Whitney-Bold";
 	text-align: center;
 	padding-left: 0px !important;
 	float:none !important;
}

/* 
!!!!!   HEADER    !!!!! 
*/


header {
	position: fixed;
	z-index: 2;
	height: 60px;
	width: 1380px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left, #000000 0%, #161616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#161616));
	background: -webkit-linear-gradient(left, #000000 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #000000 0%,#161616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #000000 0%,#161616 100%); /* IE10+ */
	background: linear-gradient(to right, #000000 0%,#161616 100%); /* W3C */
}
.logo{
  display: block;
  float: left;
  height: 28px;
  padding: 16px 0 16px 28px;
}

h2{
  display: block;
  float: left;
  color: #fff;
  padding: 24px 0 24px 28px;
  font-size: 12px;
	text-transform: uppercase;
	font-family: 'Whitney-BookSC';
}

.nav{
  display: inline-block;
  float: right;
  width: 510px;
	font-family: 'Whitney-Medium';
}
.menu{
	display: inline-block;
	padding-top: 13px;
}
.register{
	display: inline-block;
	padding-top: 13px;
	padding-left: 20px;
}
.nav ul {
	display: inline-block;
  margin:0;
  list-style-type:none;
}
.nav li {
  margin-left:2px;
  float:left; /*pour IE*/
}

.registration {
	border-radius: 50px;
	text-align: center;
	background-color: #fff;
	color: #1b1b1B !important;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	transition: all 0.5s ease-out 0s;
}

.registration:hover {
	transition: all 0.5s ease-out 0s;
	color: #fff !important;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
	color: #fff;
}

.nav ul li a{
	width: 70px;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	padding:10px;
	transition: all 0.5s ease-out 0s;
}
.nav ul li a:hover {
	transition: all 0.5s ease-out 0s;
	color: #0e5eb0;
}

.subnav{
	text-align: left;
	height: 60px;
	width: 1380px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left, #242324 0%, #343434 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#242324), color-stop(100%,#343434));
	background: -webkit-linear-gradient(left, #242324 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #242324 0%,#343434 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #242324 0%,#343434 100%); /* IE10+ */
	background: linear-gradient(to right, #242324 0%,#343434 100%); /* W3C */
}

.gradient_subnav {
	height: 4px;
	width: 100%;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}

.nav_soccer {
	display: inline-block;
	/*padding: 13px;*/
	list-style-type:none;
}

.nav_soccer .title{
	height: 60px;
	display: inline-block;
	font-family: "Whitney-Bold";
	font-size:20px;
	color: #fff;
	padding-left: 5px;
	line-height: 60px;
	vertical-align: top;
}

.nav_soccer .title:before{
	display: inline-block;
	content:'';
	width: 60px;
	height: 60px;
	background: asset-url("soccer_icon.png") center no-repeat;
}

.nav_soccer ul {
	display: inline-block;
	margin:0;
	padding: 14.5px;
	list-style-type:none;
}

.nav_soccer li {
	margin-left:2px;
	float:left; /*pour IE*/
}

.nav_soccer ul li a{
	font-family: 'Whitney-Medium';
	display: inline-block;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	font-size: 14px;
	padding:10px 15px;
	margin-right: 20px;
	transition: all 0.5s ease-out 0s;
}

.nav_soccer ul li a:hover {
	transition: all 0.5s ease-out 0s;
	color: #0e5eb0;
}

.icon_search{
	padding-right: 5px;
	z-index: 1;
	display: inline-block;
	width: 60px;
	height: 60px;
	float: right;
}

.search{
	display: block;
	width: 60px;
	height: 60px;
	background: asset-url('search_icon.png') center no-repeat;
}

.search:hover{
	opacity: 0.3;
	transition: all 1s ease;
}
.active_search {
	background: #1d50ac;
}

.active {
	border-radius: 50px;
	background-color: #fff;
	color: #0e5eb0 !important;
}

.connected {
	float: right;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	width: 230px;
	height: 60px;
	padding: 12px;
	vertical-align: middle;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}
.connected a:first-child {
	width: 132px;
} 

.connected a {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 10px 0 0;
}
.connected a img{
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;

}
.connected a p {
	display: inline-block;
	font-size: 15px;
	font-family: 'Whitney-Book';
	color: #fff;
	text-align: left;
	vertical-align: middle;

}

.connected a p:after {
	display: inline-block;
	content: '';
	background: asset-url('arrow_profile.png') no-repeat center;
	width: 10px;
	height:10px;
	margin-left: 5px;
}

/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */





.container_dashboard{
	display: inline-block;
	padding: 140px 0px 25px;
	/*max-width: 1330px;*/
	width: 100%;
	box-sizing:border-box;
	text-align: center;
}
.main, .data-content, .sidebar{
	vertical-align: top;
	display: inline-block;
	vertical-align: top;
}

.data-content {
	max-width: 900px;
	text-align: left;
}


/*





TWO COLUMN




*/
.main .two-column:hover {
	cursor :default !important;
	box-shadow: none !important;
}

.main .two-column .head{    
	line-height: 0;
	display: inline-block;
	box-sizing: border-box;
	border-bottom: 1px solid #eaeaea;
	height: 120px;
	width: 100%;
	text-align: center;
	padding: 0;
}

.two-column {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 880px;
	box-sizing:border-box;
	margin: 10px;
	height: 400px;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	cursor: pointer;
}

.two-column .head {
	line-height: 0;
	display: inline-block;
	box-sizing: border-box;
	padding: 15px 0;
	border-bottom: 1px solid #eaeaea;
	height: 50px;
	width: 100%;
	text-align: center;
}

.two-column .title_block{
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	width: 88%;
	font-family: 'Gotham-Book';
	font-size: 18px;
	height: 18px;
	line-height: 22px;
	text-transform: uppercase;
}

.two-column .head .title {
	width: 50%;
	height: 120px;
	display: inline-block;
}

.title h3{
	font-size: 20px;
	font-family: 'Gotham-Book';
	font-weight: 100;
	text-transform: uppercase;
	color: #1B1B1B;
	display: inline-block;
	width: 250px;
	box-sizing: border-box;
	vertical-align: middle;
}

.title img {
	vertical-align: middle;
}

.home img {margin: 20px 0 20px 30px;}
.away img {margin: 20px 30px 20px 0;}

.home { text-align: left;}
.away { text-align: right;}

.shirt_home {
	position: absolute;
	bottom: -50px;
	left: -130px;
}
.shirt_away {
	position: absolute;
	bottom: -50px;
	right: -130px;
}

.info_game {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
p.date {
	border-radius: 50px;
	display: inline-block;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
	padding: 1px;
}

p.date span.text_date{    
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Gotham-Book';
	line-height: 20px;
	font-size: 20px;
	border-radius: 50px;
	display: inline-block;
	 padding-top: 10px;
}

p.date .bg {
	background-color: #fff !important;
	border-radius: 50px;
	/*background: #fff;*/
	box-sizing: border-box;
	display: inline-block;
	padding: 10px 25px;
}

p.others_infos {
	font-family: 'Whitney-Book';
	line-height: 25px;
	font-size: 15px;
	color: #1b1B1b;
	margin-top: 20px;
}


.odds {
	position: absolute;
	bottom: -1px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 300px;
	box-sizing: border-box;
	padding: 10px;
	-webkit-transform: translateX(-150px);
	left: 50%;
	border-radius: 5px 5px 0 0;
	border: 1px #eaeaea solid;
}

.odds h3{
	font-size: 20px;
	font-family: 'Gotham-Book';
	font-weight: 100;
	color: #1B1B1B;
	margin: 7px 0 10px;
}

.odds ul {}

.odds ul li{
	font-family: 'Gotham-Book';
	margin: 0 10px;
	display: inline-block;
	font-size: 12px;
	color: #1B1B1B;
	text-transform: uppercase;
}

.upgrade:before {
	display: inline-block;
	content: '';
	background: asset-url('arrow_up.png') no-repeat center;
	width: 10px;
	height: 11px;
	margin-right: 4px;
}

.downgrade:before{
	display: inline-block;
	content: '';
	background: asset-url('arrow_down.png') no-repeat center;
	width: 10px;
	height: 11px;
	margin-right: 4px;
}

.stable:before{
	display: inline-block;
	content: '';
	background: asset-url('egal.png') no-repeat center;
	width: 10px;
	height: 11px;
	margin-right: 4px;
}


/*





ONE COLUMN




*/
.one-column {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 430px;
	box-sizing:border-box;
	margin: 10px;
	height: 400px;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	vertical-align: top;
	cursor: pointer;
}

.team_home, .team_away  {
  text-align: center;
  display: inline-block;
  width: 47.5%;
  box-sizing: border-box;
  padding: 35px 0;
}


.label-vs {
  display: inline-block;
  font-family: 'Gotham-Light';
  font-size: 15px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
  text-align: left;
}

.team_home h3, .team_away h3{
  display: inline-block;
  width: 100%;
  font-family: 'Gotham-Book';
  text-transform: uppercase;
  color: #1B1B1B;
  box-sizing: border-box;
  padding: 20px;
  font-size: 15px;
}


.av_odds {
  position: absolute;
  bottom: -1px;
  left: -1px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  width: 102%;
  /* box-sizing: border-box; */
  padding: 20px;
  border: 1px #eaeaea solid;
}

.av_odds h3{
  font-size: 12px;
  font-family: 'Gotham-Bold';
  font-weight: 100;
  text-transform: uppercase;
  color: #1B1B1B;
  margin: 7px 0 10px;
}

.av_odds ul {}

.av_odds ul li{
  font-family: 'Gotham-Book';
  margin: 0 20px;
  display: inline-block;
  font-size: 12px;
  color: #1B1B1B;
  text-transform: uppercase;
}

.one-column:hover, .two-column:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
	transition:all 0.4s ease-out;
}
.one-column .head {
	line-height: 0;
	display: inline-block;
	box-sizing: border-box;
	padding: 15px 0;
	border-bottom: 1px solid #eaeaea;
	height: 50px;
	width: 100%;
	text-align: center;
}

.one-column .title_block{
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	width: 76%;
	font-family: 'Gotham-Book';
	font-size: 18px;
	height: 18px;
	line-height: 22px;
	text-transform: uppercase;
}
.drag, .settings{
	display: inline-block;
	width: 50px;
	height: 50px;
}
.settings:hover, .drag:hover {
	opacity: 0.6;
}

.drag img, .settings img{
	vertical-align: middle;
}

.drag:hover {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.drag:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.blur{
	width: 100%;
	height: 100%;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
	opacity: 0.8;
	background: asset-url('stats_bg.png') no-repeat center;
}

.locked {
	position: absolute;
	top:85px;
	left: 145px;
}

.txt_locked {
	position: absolute;
	top: 240px;
	left: 160px;
	font-size: 15px;
	line-height: 25px;
	color: #1c4eaa;
	text-transform: uppercase;
	font-family: 'Gotham-Bold';
}

.cta_unlock{
	cursor: not-Allowed;
	font-size: 10px;
	z-index: 1;
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 16px;
	box-sizing: border-box;
	text-align: left;
	border-radius: 5px;
	width: 410px;
	height: 80px;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #1c4eaa 1%, #469fe9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* IE10+ */
	background: linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* W3C */
}

.cta_unlock h4 {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	font-size: 30px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham-Book';
	font-weight: 100;
}

.cta_unlock p {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	font-size: 15px;
	line-height: 1;
	color: #fff;
	font-family: 'Whitney-Book';
}

.cta_unlock img {
	position: absolute;
	right: 25px;
	top: 24px;
	display: block;

} 

.cta_unlock:hover {
	background: #e00404; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #e00404 0%, #f20048 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e00404), color-stop(100%,#f20048)); 
	background: -webkit-linear-gradient(45deg,  #e00404 0%,#f20048 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #e00404 0%,#f20048 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #e00404 0%,#f20048 100%); /* IE10+ */
	background: linear-gradient(45deg,  #e00404 0%,#f20048 100%); /* W3C */ 
}
.untouch{box-shadow: none !important;}
.untouch:hover {
	-webkit-animation-name: shake;
	-webkit-animation-duration:     0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin:    50% 100%;
}

@-webkit-keyframes shake {
	0%      { -webkit-transform: translate(0px, 0)      rotate(0); }
	20%     { -webkit-transform: translate(10px, 0px)   rotate(0); }
	40%     { -webkit-transform: translate(-10px, 0px)  rotate(0); }
	60%     { -webkit-transform: translate(6px, 0px)    rotate(0); }
	80%     { -webkit-transform: translate(-3px, 0px)   rotate(0); }
	100%    { -webkit-transform: translate(0px, 0px)    rotate(0); }
}

/* SPECIFICITIES  */

.sidebar .one-column {
	height: 800px;
} 

.buy-tips {
	position: relative;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #1c4eaa 1%, #469fe9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* IE10+ */
	background: linear-gradient(45deg,  #1c4eaa 1%,#469fe9 100%); /* W3C */
}

.w-pattern{
	position: absolute;
	top: 0;
	left: 0;    
	max-width: 430px;
	width: 100%;
	box-sizing:border-box;
	height: 100%;
	background: asset-url('pattern.png') repeat;
	background-position: 0 -100px;
	background-size: 50%;
	-webkit-animation : scrollY 25s linear infinite;
	opacity: 0.1;
}

.buy-tips img {
	/*position: absolute;*/
	margin-top:60px;
	width: 141px;
	height: 141px;
}

.buy-tips p {
	margin-top: 15px;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham-Book';
    margin-bottom: 5px;
}

.buy-tips p .gras {
	font-family: 'Gotham-Ultra';
}

.cta-buy{
	position: relative;
	top: 55px;
	border-radius: 50px;
	padding: 15px 25px;
	font-size: 15px;
	line-height: 25px;
	background-color: #fff;
	color: #0e5eb0;
	text-transform: uppercase;
	font-family: 'Gotham-Book';
	box-shadow: 3px 3px 30px rgba(0,0,0,0.1);
	-webkit-transition:all 0.2s ease-in;
}

.cta-buy:hover {
	padding: 16px 25px;
	border: 2px solid #fff;
	color: #fff;
	background:none;
	transition:all 0.2s ease-out;
}
/* END */

@-webkit-keyframes scrollY {
	0%{
		background-position: 0px 0px;
	} 
	100% {
		background-position: 0px -1070px;
	} 
}


/*

DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT
DATA TREATMENT

*/

.o_content {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.o_home, .o_away {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 35px 20px 0 20px;
}

.o_content h3 {
	font-size: 12px;
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	font-weight: 100;
}

.o_content p {
	padding:10px;
	font-size: 50px;
	font-family: 'Gotham-Bold';
	display: inline-block;
}

.o_content p:after {
	margin-left: 4px;
	display: inline-block;
	content:'';
	background: asset-url('arrow_up.png');
	width: 10px;
	height: 10px;
}

ul.o_val {
	display: inline-block;
	position: absolute;
	bottom: 35px;
	left: 0px;
	width: 35px;
	opacity: 0.3;
} 

ul.o_val li{
	display:block;
	font-size: 10px;
	font-family: 'Gotham-Book';
	font-weight: 100;
	color: #1B1B1B;
	text-align: right;
	margin: 40px 0 0 0;

} 

.barchart {
	background: asset-url("barchart_pattern.png") repeat center;
	background-position-y: 32px;
	display: block;
	width: 80%;
	height: 222px;
	margin: 0 auto;
}

.cache{
	z-index: 1;
	position: absolute;
	width: 340px;
	bottom: 0;    
	left: 50%;
	-webkit-transform : translateX(-170px);
	height: 40px;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #eaeaea;
	
}

.content_bottom{
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 340px;
	bottom: 0;
	left: 50%;
	-webkit-transform : translateX(-170px);
	box-sizing: border-box;
}



.team1, .team2 {
	-webkit-transform:rotate(180deg);
	display: inline-block;
	margin: 10px 2px;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	transition: all 0.5s ease-out;
}

.team1 {
	background: -webkit-linear-gradient(top, #6d8ce0 0%,#4b66b6 100%);
	margin-left: 8%;
}
.team2 {
	background: -webkit-linear-gradient(top, #aa0b4c 0%,#dd3867 100%);
	margin-right: 8%;
}

.cache ul{
	display: inline-block;
	width: 100%;
	height: 20px;
}

.cache ul li{
	display: inline-block;
	font-size: 10px;
	font-family: 'Gotham-Book';
	font-weight: 100;
	width:70px; 
	text-transform: uppercase;
	color: #1B1B1B;
	padding: 10px 0 0 0;    
	vertical-align: top;
	text-align: center;
}

/* PLAYER */
/* PLAYER */
/* PLAYER */
/* PLAYER */
/* PLAYER */
/* PLAYER */
.player {
	cursor:default;
	box-shadow: none !important;
}
.head_player {
	position: relative;
	height: 115px;
	width: 100%;
	overflow: hidden;
}

.head_player svg {
	position: absolute;
	top: 0;
}
.head_player .player_title_full {
	position: absolute;
	left: 0;
}
.head_player .player_title_mid {
	position: absolute;
	right: 0;
}
.head_player img {
	position: absolute;
	right: 139px;
	top: 41.5px;
}

.player_visu {
	position: absolute;
	bottom: 0;
	right: 0;
}

.head_player span.player_firstname {
	position: absolute;
	display: inline-block;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	left: 23px;
	top: 35px;
}
.head_player span.player_name {
	position: absolute;
	display: inline-block;
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	font-weight: 100;
	font-size: 46px;
	color: #fff;
	left: 20px;
	top: 50px;
}

.head_player span.player_number {
	position: absolute;
	font-family: 'Gotham-Bold';
	font-size: 140px;
	color: rgba(0,0,0,0.1);
	left: 30px;
	bottom: -35px;
}







/*QUARTER*/
/*QUARTER*/
/*QUARTER*/
/*QUARTER*/

.q_subnav {
	width: 100%;
	display: inline-block;
	background: #1B1B1B;
	height: 50px;
	margin-bottom: 18px;
}

.q_subnav ul {
	vertical-align: middle;
	height: 10px;
	padding: 21px;
}

.q_subnav ul li{
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 0 0;
}

.q_subnav ul li a {
	border-radius: 50px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 9px;
	text-transform: uppercase;
	color: #8f8e8e;
	font-family: 'Gotham-Book';
	font-weight: 100;
	-webkit-transition: all 1s ease-out;
}

.q_subnav ul li a:hover {
	color: #fff;
	-webkit-transition: all 1s ease-out;
}

.q_infos {
	vertical-align: top;
	display: inline-block;
	width: 50%;
	height: 250px;
	box-sizing: border-box;
}

.q_title {
	box-sizing: border-box;
	padding: 30px 0 10px 20px;
	display: inline-block;
	font-size: 20px;
	color: #1B1B1B;
	text-transform: uppercase;
	font-family: 'Gotham-Light';
}

.q_title .sub {
	text-transform: none;
	font-family: 'Whitney-Book';
	font-size: 15px;
}

ul.explicit_stats {
	display: block;
	width:100%;
	box-sizing: border-box;
	padding: 20px;
}

ul.explicit_stats li {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}

ul.explicit_stats li a{
	text-decoration: none;
	display: block;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0.5;
}

.fav {opacity: 1 !important;}

ul.explicit_stats li a .big_stats{ font-size: 50px;}



.q_explicit_legend {
	box-sizing: border-box;
	padding: 10px 20px 20px 20px;
	display: block;
	width: 100%;
}

.q_explicit_legend p {
	font-size: 12px;
	line-height: 18px;
	padding: 3px 0;
	text-transform: uppercase;
	font-family: 'Gotham-Bold';
}

p.title:after {
	content: '';
	display: inline-block;
	width: 80%;
	margin-left: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eaeaea;
}
p.q_home:before {
	display: inline-block;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50px;
	margin-right: 5px;
	border: 2px solid #6d8ce0;
}
p.q_away:before {
	display: inline-block;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50px;
	margin-right: 5px;
	border: 2px solid #a50044;
}
.q_home { color: #5978cc;}
.q_away { color: #a50044;}

.q_chart {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 250px;
	padding-top: 30px;
}

.q_chart .cache{
	text-align: center;
}

.q_chart .barchart {
	background-position-y: 10px; 
}
.q_chart ul.q_val {
	display: inline-block;
	position: absolute;
	bottom: 35px;
	left: 0px;
	width: 35px;
	opacity: 0.3;
} 
.q_chart ul.q_val li{
	display:block;
	font-size: 10px;
	font-family: 'Gotham-Book';
	font-weight: 100;
	color: #1B1B1B;
	text-align: right;
	margin: 40px 0 0 0;

}


/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */


.search_open {
	display: none;
	z-index: 2;
	position: fixed;
	top: 124px;
	width: 1380px;
	height: 100%;
	transition: all 1s ease-out;
}

.search_open form {
	width: 1380px;
	position: fixed;
	z-index: 3;
}

.search_open form input[type="search"] {
	text-decoration:none;
	outline: none;
	border: none;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	color: #fff;
  height: 50px;
  font-size: 30px;
	font-family: 'Gotham-Light';
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}
input[type="search"]::-webkit-input-placeholder { color:rgba(255,255,255,0.2); }
input[type="search"]::-moz-placeholder { color:rgba(255,255,255,0.2); } /* firefox 19+ */
input[type="search"]:-ms-input-placeholder { color:rgba(255,255,255,0.2); } /* ie */
input[type="search"]:-moz-placeholder { color:rgba(255,255,255,0.2); }

.search_open .overlay {
	z-index: 2;
	top: 0;
	position: absolute;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
}

.search_open .search_results {
	position: fixed;
	top: 214px;
	z-index: 2;
	display: block;
	width: 1380px;
	box-sizing: border-box;
	padding: 20px;
	height: 10px;
	background: #fff;
}


.display_on {display: block ;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */


.left {
	width: 33%;
	float: left;
}
.right{
	width: 33%;
	float: right;
}

.center{
	float: left;
	width: 33%;
}
footer {
	width: 1380px;
	height: 80px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 25px 0;
}
footer ul {
	display: inline-block;
	margin:0;
	list-style-type:none;
}
footer li {
	margin-left:2px;
	float:left; /*pour IE*/
}

footer .left ul li a{
	font-family: 'Whitney-Book';
	color: #9fa0a1;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	font-size: 14px;
	padding:10px;
	transition: all 0.5s ease-out 0s;
}
footer ul li a:hover {
	transition: all 0.5s ease-out 0s;
	color: #1B1B1B;
} 

.center p{
	font-family: 'Whitney-Book';
	color: #9fa0a1;
	text-decoration: none;
	font-size: 14px;
	padding:10px;
	width: 280px;
	margin: 0 auto;
}

footer .right ul {
	float: right;

}footer .right ul li{
	margin: 0 10px;
}


/* 
!!!!!   POPIN
	!!!!! 
*/

#popin{
	display: none;
	position:fixed;
	z-index: 2;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:5;
	width:100%;
	text-align: center;
	height:100%;
	overflow-x: scroll;
}

#popin .tips{
	display: inline-block;
	max-width: 1080px;
	// height: 650px;
	border-radius: 5px;
	margin:10% auto;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(left,  #469fe9 0%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(to right,  #469fe9 0%,#1c4eaa 100%); /* W3C */
	overflow: hidden;
}
#popin .tips a{ float: right;}
#popin .tips h1 {
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	font-size: 15px;
	color: #0e5eb0;
	text-align: center;
	padding-top: 18px;
}

#popin .close{
  position: relative;
  z-index: 5;
  top: -20px;
  right: 15px;
}

#popin .head_form {
	display: block;
	margin: 0 auto;
	height: 50px;
	background-color: #Fff;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
	box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
}

#popin form {
	width: 560px;
	height: 550px;
	margin: 25px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
	box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
	padding: 5px 30px;
	box-sizing:border-box;
}


#popin form h2 {
	width: 460px;
	font-size: 12px;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	text-align: center;
	color: #1B1B1B;
	line-height: 15px;
}

#popin label {
	font-family: 'Whitney-Book';
	font-size: 18px;
	color: #1b1b1b;
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
}

#popin label span{
	font-family: 'Gotham-Bold';
	font-size: 15px;
	color: #0e59ab;
	width: 100%;
	text-transform: uppercase;
}
#popin .main {
	width: 210px;
	height: 35px;
	border-radius: 5px;
	padding: 0 10px;margin-top: 5px;
	border: 1px solid #eaeaea;
}

#popin .large {
	width: 450px;
	height: 35px;
	border-radius: 5px;
	padding: 0 10px;margin-top: 5px;
	border: 1px solid #eaeaea;
}

#popin .btn {
	margin-top: 20px;
	width: 139px;
	height: 54px;
	background: asset-url("button_form.png") no-repeat;
	border: none;
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 50px;
	color: #0e5eb0;
	transition: all 0.5s ease-out 0s;
}

#popin .btn:hover{
	transition: all 0.5s ease-out 0s;
	border-radius: 50px;
	background: none;
	background: #469fe9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
	background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
	color: #fff;
}
.tips_content {
	width: 100%;
	display: inline-block;
	text-align: left;
}
.tips_content .tips_cards {
	display: inline-block;
	position: relative;
	width: 230px;
	height: 270px;
	box-sizing: border-box;
	padding: 15px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	margin: 15px 20px;
	box-shadow: 3px 0px 16px rgba(0,0,0,0.2);
}

.empty {
	display: inline-block;
	position: relative;
	width: 230px;
	height: 270px;
	box-sizing: border-box;
	padding: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: none !important;
	box-shadow: none !important;
	margin: 15px 20px;
}


/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 



// /* on prépare le label */
// [type="checkbox"]:not(:checked) + label,
// [type="checkbox"]:checked + label {
//   position: relative; /* permet de positionner les pseudo-éléments */
//   cursor: pointer;    /* affiche un curseur adapté */
// }



/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  display: block;
  z-index: 4;
  position: relative;
  left: 48px;
  bottom: 50px;
  width: 130px;
  height: 130px;
  border-radius: 140px;
  border: 2px solid #eaeaea;
  background: asset-url("sprites_checkboxes.png") center no-repeat;
  background-position-y:00px;
  cursor: pointer;    /* affiche un curseur adapté */
}


/* Aspect général de la coche */
[type="checkbox"]:checked + label:before {
  background-position-y:-130px;
}

[type="checkbox"]:not(:checked):hover + label:before, label:hover {
  background-position-y:-260px;
}




/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */




@media screen and (min-width: 320px) and (max-width: 1380px) {
	.container{
		margin:0 auto;
		width: 100%;
		overflow: hidden;
	}
	.nav {
		display: none;
	}
	#cover, #howto, #pricing, #aboutus, #mobileapp {
		width: 100%;
	}

	header, footer {
		width: 100%;
	}

  .one-column.buy-tips {
    width: 880px;
  }
  .w-pattern {
    max-width: 880px;
    background-size:30%;
  }
}