// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require reset.css


body {
  background: #e9e9eb;
    font-size: 0;
}
.container{
    max-width: 2048px;
  width: 1380px;
  margin:0 auto;
  background-color: #fff;
  -moz-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.1);
    text-align: center;
}




/* 
!!!!!   HEADER    !!!!! 
*/


header {
    position: fixed;
    z-index: 2;
  height: 60px;
  width: 1380px;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #161616 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#161616));
  background: -webkit-linear-gradient(left, #000000 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #000000 0%,#161616 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #000000 0%,#161616 100%); /* IE10+ */
  background: linear-gradient(to right, #000000 0%,#161616 100%); /* W3C */
}
.logo{
  display: block;
  float: left;
  height: 28px;
  padding: 16px 0 16px 28px;
}

h2{
  display: block;
  float: left;
  color: #fff;
  padding: 24px 0 24px 28px;
  font-size: 12px;
    text-transform: uppercase;
    font-family: 'Whitney-BookSC';
}

.nav{
  display: inline-block;
  float: right;
  width: 510px;
    font-family: 'Whitney-Medium';
}
.menu{
    display: inline-block;
    padding-top: 13px;
}
.register{
    display: inline-block;
    padding-top: 13px;
    padding-left: 20px;
}
.nav ul {
    display: inline-block;
  margin:0;
  list-style-type:none;
}
.nav li {
  margin-left:2px;
  float:left; /*pour IE*/
}

.registration {
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    color: #1b1b1B !important;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    transition: all 0.5s ease-out 0s;
}

.registration:hover {
    transition: all 0.5s ease-out 0s;
    color: #fff !important;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
    color: #fff;
}

.nav ul li a{
    width: 70px;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding:10px;
    transition: all 0.5s ease-out 0s;
}
.nav ul li a:hover {
    transition: all 0.5s ease-out 0s;
    color: #0e5eb0;
}

.subnav{
    text-align: left;
    height: 60px;
    width: 1380px;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left, #242324 0%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#242324), color-stop(100%,#343434));
    background: -webkit-linear-gradient(left, #242324 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #242324 0%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #242324 0%,#343434 100%); /* IE10+ */
    background: linear-gradient(to right, #242324 0%,#343434 100%); /* W3C */
}

.gradient_subnav {
    height: 4px;
    width: 100%;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}

.nav_soccer {
    display: inline-block;
    /*padding: 13px;*/
    list-style-type:none;
}

.nav_soccer .title{
    height: 60px;
    display: inline-block;
    font-family: "Whitney-Bold";
    font-size:20px;
    color: #fff;
    padding-left: 5px;
    line-height: 60px;
    vertical-align: top;
}

.nav_soccer .title:before{
    display: inline-block;
    content:'';
    width: 60px;
    height: 60px;
    background: asset-url("soccer_icon.png") center no-repeat;
}

.nav_soccer ul {
    display: inline-block;
    margin:0;
    padding: 14.5px;
    list-style-type:none;
}

.nav_soccer li {
    margin-left:2px;
    float:left; /*pour IE*/
}

.nav_soccer ul li a{
    font-family: 'Whitney-Medium';
    display: inline-block;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    padding:10px 15px;
    margin-right: 20px;
    transition: all 0.5s ease-out 0s;
}

.nav_soccer ul li a:hover {
    transition: all 0.5s ease-out 0s;
    color: #0e5eb0;
}

.icon_search{
    padding-right: 5px;
    z-index: 1;
    display: inline-block;
    width: 60px;
    height: 60px;
    float: right;
}

.search{
    display: block;
    width: 60px;
    height: 60px;
    background: asset-url('search_icon.png') center no-repeat;
}

.search:hover{
    opacity: 0.3;
    transition: all 1s ease;
}
.active_search {
    background: #1d50ac;
}

.active {
    border-radius: 50px;
    background-color: #fff;
    color: #0e5eb0 !important;
}

.connected {
    float: right;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    width: 230px;
    height: 60px;
    padding: 12px;
    vertical-align: middle;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}
.connected a:first-child {
    width: 132px;
} 

.connected a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px 0 0;
}
.connected a img{
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;

}
.connected a p {
    display: inline-block;
    font-size: 15px;
    font-family: 'Whitney-Book';
    color: #fff;
    text-align: left;
    vertical-align: middle;

}

.connected a p:after {
    display: inline-block;
    content: '';
    background: asset-url('arrow_profile.png') no-repeat center;
    width: 10px;
    height:10px;
    margin-left: 5px;
}

/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */
/* LISTGAMES */

.container_listgames {
  display: inline-block;
  padding: 140px 10px 25px;
  /*max-width: 1330px;*/
  width: 100%;
  box-sizing:border-box;
  text-align: left;
}

p.day {
  font-family: 'Gotham-Bold';
  font-size: 15px;
  color: #1B1B1B;
  text-transform: uppercase;
  text-align: left;
  padding: 20px;
}

.one-column {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 430px;
    box-sizing:border-box;
    margin: 10px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    vertical-align: top;
    cursor: pointer;
}

.one-column:hover {
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
    transition:all 0.4s ease-out;
}
.one-column .head {
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0px;
    border-bottom: 1px solid #eaeaea;
    height: 50px;
    width: 100%;
    text-align: left;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}

.one-column .title_block{
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    font-family: 'Gotham-Book';
    font-size: 15px;
    height: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px; 
}

.one-column .title_hours{
  position: absolute;
  right: 15px;
  float: right;
  vertical-align: middle;
    display: inline-block;
    line-height: 1;
    text-align: right;
    font-family: 'Whitney-Book';
    font-weight: 100;
    font-size: 12px;
    height: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
}


.drag, .settings{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.settings:hover, .drag:hover {
    opacity: 0.6;
}

.drag img, .settings img{
    vertical-align: middle;
}

.drag:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.drag:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.team_home, .team_away  {
  text-align: center;
  display: inline-block;
  width: 47.5%;
  box-sizing: border-box;
  padding: 35px 0;
}

.label-vs {
  display: inline-block;
  font-family: 'Gotham-Light';
  font-size: 15px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
  text-align: left;
}

.team_home h3, .team_away h3{
  display: inline-block;
  width: 100%;
  font-family: 'Gotham-Book';
  text-transform: uppercase;
  color: #1B1B1B;
  box-sizing: border-box;
  padding: 20px;
  font-size: 15px;
}


.av_odds {
  position: absolute;
  bottom: -1px;
  left: -1px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  width: 102%;
  /* box-sizing: border-box; */
  padding: 20px;
  border: 1px #eaeaea solid;
}

.av_odds h3{
  font-size: 12px;
  font-family: 'Gotham-Bold';
  font-weight: 100;
  text-transform: uppercase;
  color: #1B1B1B;
  margin: 7px 0 10px;
}

.av_odds ul {}

.av_odds ul li{
  font-family: 'Gotham-Book';
  margin: 0 20px;
  display: inline-block;
  font-size: 12px;
  color: #1B1B1B;
  text-transform: uppercase;
}

.upgrade:before {
  display: inline-block;
  content: '';
  background: asset-url('arrow_up.png') no-repeat center;
  width: 10px;
  height: 11px;
  margin-right: 4px;
}

.downgrade:before{
  display: inline-block;
  content: '';
  background: asset-url('arrow_down.png') no-repeat center;
  width: 10px;
  height: 11px;
  margin-right: 4px;
}

.stable:before{
  display: inline-block;
  content: '';
  background: asset-url('egal.png') no-repeat center;
  width: 10px;
  height: 11px;
  margin-right: 4px;
}

/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */
/* SEARCH */


.search_open {
    display: none;
    z-index: 2;
    position: fixed;
    top: 124px;
    width: 1380px;
    height: 100%;
    transition: all 1s ease-out;
}

.search_open form {
    width: 1380px;
    position: fixed;
    z-index: 3;
}

.search_open form input[type="search"] {
    text-decoration:none;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    color: #fff;
    height: 90px;
    font-size: 50px;
    font-family: 'Gotham-Light';
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
}
input[type="search"]::-webkit-input-placeholder { color:rgba(255,255,255,0.2); }
input[type="search"]::-moz-placeholder { color:rgba(255,255,255,0.2); } /* firefox 19+ */
input[type="search"]:-ms-input-placeholder { color:rgba(255,255,255,0.2); } /* ie */
input[type="search"]:-moz-placeholder { color:rgba(255,255,255,0.2); }

.search_open .overlay {
    z-index: 2;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
}

.search_open .search_results {
    position: fixed;
    top: 214px;
    z-index: 2;
    display: block;
    width: 1380px;
    box-sizing: border-box;
    padding: 20px;
    height: 200px;
    background: #fff;
}


.display_on {display: block ;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */


.left {
    width: 33%;
    float: left;
}
.right{
    width: 33%;
    float: right;
}

.center{
    float: left;
    width: 33%;
}
footer {
    width: 1380px;
    height: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px 0;
}
footer ul {
    display: inline-block;
    margin:0;
    list-style-type:none;
}
footer li {
    margin-left:2px;
    float:left; /*pour IE*/
}

footer .left ul li a{
    font-family: 'Whitney-Book';
    color: #9fa0a1;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    padding:10px;
    transition: all 0.5s ease-out 0s;
}
footer ul li a:hover {
    transition: all 0.5s ease-out 0s;
    color: #1B1B1B;
} 

.center p{
    font-family: 'Whitney-Book';
    color: #9fa0a1;
    text-decoration: none;
    font-size: 14px;
    padding:10px;
    width: 280px;
    margin: 0 auto;
}

footer .right ul {
    float: right;

}footer .right ul li{
    margin: 0 10px;
}


/* 
!!!!!   POPIN
    !!!!! 
*/

#popin{
    display: none;
    position:fixed;
    z-index: 2;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    text-align: center;
    height:100%;
}

#popin .tips{
    display: inline-block;
    max-width: 1080px;
    // height: 650px;
    border-radius: 5px;
    margin:10% auto;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(left,  #469fe9 0%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #469fe9 0%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(to right,  #469fe9 0%,#1c4eaa 100%); /* W3C */
    overflow: hidden;
}
#popin .tips a{ float: right;}
#popin .tips h1 {
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    font-size: 15px;
    color: #0e5eb0;
    text-align: center;
    padding-top: 18px;
}

#popin .close{
  position: relative;
  z-index: 5;
  top: -20px;
  right: 15px;
}

#popin .head_form {
    display: block;
    margin: 0 auto;
    height: 50px;
    background-color: #Fff;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
    box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
}

#popin form {
    width: 560px;
    height: 550px;
    margin: 25px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
    box-shadow: -1px 3px 23px -2px rgba(0,0,0,0.2);
    padding: 5px 30px;
    box-sizing:border-box;
}


#popin form h2 {
    width: 460px;
    font-size: 12px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    text-align: center;
    color: #1B1B1B;
    line-height: 15px;
}

#popin label {
    font-family: 'Whitney-Book';
    font-size: 18px;
    color: #1b1b1b;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

#popin label span{
    font-family: 'Gotham-Bold';
    font-size: 15px;
    color: #0e59ab;
    width: 100%;
    text-transform: uppercase;
}
#popin .main {
    width: 210px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;margin-top: 5px;
    border: 1px solid #eaeaea;
}

#popin .large {
    width: 450px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;margin-top: 5px;
    border: 1px solid #eaeaea;
}

#popin .btn {
    margin-top: 20px;
    width: 139px;
    height: 54px;
    background: asset-url("button_form.png") no-repeat;
    border: none;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    color: #0e5eb0;
    transition: all 0.5s ease-out 0s;
}

#popin .btn:hover{
    transition: all 0.5s ease-out 0s;
    border-radius: 50px;
    background: none;
    background: #469fe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #469fe9 1%, #1c4eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#469fe9), color-stop(100%,#1c4eaa)); 
    background: -webkit-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* IE10+ */
    background: linear-gradient(45deg,  #469fe9 1%,#1c4eaa 100%); /* W3C */
    color: #fff;
}
.tips_content {
    width: 100%;
    display: inline-block;
    text-align: left;
}
.tips_content .tips_cards {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 270px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 15px 20px;
    box-shadow: 3px 0px 16px rgba(0,0,0,0.2);
}

.empty {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 270px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none !important;
    box-shadow: none !important;
    margin: 15px 20px;
}


/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 



// /* on prépare le label */
// [type="checkbox"]:not(:checked) + label,
// [type="checkbox"]:checked + label {
//   position: relative; /* permet de positionner les pseudo-éléments */
//   cursor: pointer;    /* affiche un curseur adapté */
// }



/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  display: block;
  z-index: 4;
  position: relative;
  left: 48px;
  bottom: 50px;
  width: 130px;
  height: 130px;
  border-radius: 140px;
  border: 2px solid #eaeaea;
  background: asset-url("sprites_checkboxes.png") center no-repeat;
  background-position-y:00px;
  cursor: pointer;    /* affiche un curseur adapté */
}


/* Aspect général de la coche */
[type="checkbox"]:checked + label:before {
  background-position-y:-130px;
}

[type="checkbox"]:not(:checked):hover + label:before, label:hover {
  background-position-y:-260px;
}




/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */




@media screen and (min-width: 320px) and (max-width: 1380px) {
    .container{
        margin:0 auto;
        width: 100%;
        overflow: hidden;
    }
    .nav {
        display: none;
    }
    #cover, #howto, #pricing, #aboutus, #mobileapp {
        width: 100%;
    }

    header, footer {
        width: 100%;
    }
}