!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Foxy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / = link_to 'bwin', 'https://sports.bwin.fr/fr/sports/4/paris-sportifs/football#sportId=4/fr/betslip/betslip/add?optionId=4%2F21690%2F4352510%2F99593973%2F327181122&odds=6.00&optionId=4%2F21558%2F4422389%2F102980746%2F337871727&odds=1.50', method: "POST", target: '_blank'
    = yield
